<%- include('./partials/header.ejs') %>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-0">
    <div class="mx-auto col-md-10 col-lg-7">

      
      <form action="/auth/editadmission/id/<%= admissionId %>" method="POST" class="p-3 p-md-4 border rounded-3 bg-light">
        
        <%- include('./partials/admissionform') %> 
   
      </form>
    </div>
  </div>
</div> 



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <script>
  let alert = document.querySelector('.alert');

  [...document.querySelectorAll('.custom-select-addtransaction')].forEach(function(item) {
  item.addEventListener('focus', textChange)
  })

  function textChange() {
    const val = alert ? alert.hidden = true : '';
  }
 const changePasswordButton = document.querySelector('#changepasswordbutton')
 const savePasswordChangeButton = document.querySelector('#savepasswordchangebutton')
  //=====================================================
  //==============MODAL===================================
const button1 = document.querySelector('#button1')
const saveModalButton = document.querySelector('#modalsaveadmission')
//-----------main fields---------------------
const field_ay = document.querySelector('#ra')
const field_i = document.querySelector('#institute')
const field_b = document.querySelector('#branches')
const field_l= document.querySelector('#levels')
const field_m = document.querySelector('#markers')
//------------modal fields---------------------
const modalfield_ay1 = document.querySelector('#may1')
const modalfield_i1 = document.querySelector('#mi1')
const modalfield_b1 = document.querySelector('#mb1')
const modalfield_l1 = document.querySelector('#ml1')
const modalfield_m1 = document.querySelector('#mm1')

modalfield_ay1.value = localStorage.getItem('modaladdmission_ay1')
modalfield_i1.value = localStorage.getItem('modaladdmission_i1')
modalfield_b1 .value = localStorage.getItem('modaladdmission_b1')
modalfield_l1.value = localStorage.getItem('modaladdmission_l1')
modalfield_m1.value = localStorage.getItem('modaladdmission_m1')

function modalbutton1click() {
  field_ay.value = localStorage.getItem('modaladdmission_ay1')
  field_i.value = localStorage.getItem('modaladdmission_i1')
  field_b.value = localStorage.getItem('modaladdmission_b1')
  field_l.value = localStorage.getItem('modaladdmission_l1')
  field_m.value = localStorage.getItem('modaladdmission_m1')
}
button1.addEventListener('click', modalbutton1click)

function saveModalDataAddmission() {
  // console.log('czy modal????');
  
  localStorage.setItem('modaladdmission_ay1', modalfield_ay1.value )
  localStorage.setItem('modaladdmission_i1', modalfield_i1.value )
  localStorage.setItem('modaladdmission_b1', modalfield_b1.value )
  localStorage.setItem('modaladdmission_l1', modalfield_l1.value )
  localStorage.setItem('modaladdmission_m1', modalfield_m1.value )
}
saveModalButton.addEventListener('click', saveModalDataAddmission)

  </script>
</body>
</html>


