<%- include('./partials/header.ejs') %>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-0">

<h2 class="text-center text-warning">NIEPRAWIDŁOWA OPERACJA!</h2>

<h4 class="text-center text-danger bg-info rounded py-5"><%= message %></h4> 

<a href="/" class="btn btn-warning">Wróć</a>
  </div>
  </div>  